.topnav {
    background-color: rgb(43, 93, 102);
    overflow: hidden;
  }

  .topnav a {
    float: center;
    display: block;
    color: rgb(58, 48, 49);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: black;
    color: white;
  }

 
  h1 {
    color: rgb(54, 48, 48);
    text-align: center;
  }

   img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
   } 
  