        body {
            background-image: url("https://images.squarespace-cdn.com/content/v1/53a05cdee4b0c1bc44841a7b/1523903901526-NQ7YBY0J1P6Q3QTDQ99I/ke17ZwdGBToddI8pDm48kDrhhyvDpE5wTivfWmeXbClZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpwwwgbrhBcqQvfweMHrFmLaAUNk-IumIXddVge6uKYx3SzjeTwXZX8Qna9Y4VPhkto/25+Travel+Cinemagraphs+from+Around+the+World");
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .grid {
            display: grid;
            grid-template-columns: 200px 1fr;
        }
        
        h1 {
            font-size: 18px;
        }
        
        h4 {
            font-size: 15px;
        }
        
        p {
            font-size: 10px;
        }
        
        div.ex3 {
            width: 100%;
            height: 10%;
            overflow: auto;
        }
        
        .img_main {
            text-align: center;
            width: 50%;
            padding: 3px;
            margin: auto;
            border: 3px solid rgb(170, 61, 61);
            border-radius: 100%;
        }
        
        .link_img {
            margin: 3px;
            padding: 2px;
            height: 1rem;
        }
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            margin: auto;
        }
        
        .input_ghPages {
            width: 40%;
            padding: 4px 4px;
            border-radius: 3px solid black;
        }
        
        #addRow {
            width: 10%;
            margin: auto;
        }
        
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }