.topnav {
    background-color: rgb(28, 241, 9);
    overflow: hidden;
  }

  .topnav a {
    float: right;
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: black;
    color: blue;
  }

 
  h1 {
    color: red;
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  